@model Restaurant.BusinessLogic.Implementation.Admin.AdminDashboardModel


<h1>Admin Dashboard</h1>

<div class="container">
	<div class="row">
		<div class="col-6">
			<h2>Manager requests</h2>
			@foreach (var manager in Model.PendingManagers)
			{
				<div>
					<p>@manager.FirstName @manager.LastName</p>
					<p>@manager.Email</p>
					<p>@manager.Phone</p>
					<span>
						<a class="btn btn-primary" asp-action="UpdateUserRole" asp-controller="Admin" asp-route-userId="@manager.Id" asp-route-isApproved="true">Accept</a>
						<a class="btn btn-primary" asp-action="UpdateUserRole" asp-controller="Admin" asp-route-userId="@manager.Id" asp-route-isApproved="false">Reject</a>
					</span>

				</div>
			}
		</div>
		<div class="col-6">
			<h2>Restaurants with most reservations</h2>
		</div>
	</div>
</div>
